body {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .login-screen, .register-screen {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-screen input, .register-screen input {
    display: block;
    width: 93%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-screen button, .register-screen button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calendar-screen {
    margin: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info span {
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .appointments {
    margin-top: 20px;
  }
  
  .appointments div {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .appointments button {
    margin-top: 10px;
  }
  